.selection-panel{
    /*margin: 100px 150px ;*/
    background: #ffffff;
    box-shadow: 0 0 3px rgb(153, 153, 153);
    padding: 48px 50px;
}

#body {
    background: #f2f2f2 repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#body .station-box{
    width: 330px;

}
#body .src-station{
    background: rgba(93,93,93,0.5);
    color: #ffffff;
}
#body .src-station:hover {
    background: rgba(93,93,93,1);
    color: #ffffff;
}
#body .dest-station{
    background: rgba(93,93,93,0.5);
    color: #ffffff;
}
#body .dest-station:hover {
    background: rgba(93,93,93,1);
    color: #ffffff;
}
#src-list,#dest-list{
    position: absolute;
    z-index: 1;
    width: 330px;
}
#body .list-group{
    max-height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ffffff;
}
#body .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.form-container{
    min-height: 100px;
    padding: 20px
}
.form-container md-datepicker{
    margin-top: 16px;
}
#body hr{
    border-top: 1px solid darkgray ;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-container .btn{
    margin: 10px;
}
.img{

}
.caption{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    padding-top: 2px;
    font-weight: normal;
}
.video{
    max-width: 98%;

}
.imgFrame{
    font-family: karla;
    color: #757575;
    font-weight: bold;
    margin: 10px 0px;
    /*background-color: #f0f0f0 ;*/
    /*box-shadow: 0 0 3px rgb(153, 153, 153);*/
    padding-top: 20px ;
    padding-bottom: 20px;
}
.imgFrame p {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 200;
    margin-left: 15px;

}
.prof-pic{
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*.prof-details{*/
    /*float: left;*/
/*}*/
.frame-header{
    padding: 0px;

    
}
.frame-header-left{
    padding: 0px;
    font-size: 22px;

}
.frame-header-right{
    padding: 0px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 16px;

}
.user-name-text{

    text-overflow: ellipsis;
    font-family: pacifico;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    padding-bottom: 6px;
    color: #35638c;
    font-weight: normal;


}
.frame-footer{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.date-text{
    font-size: 12px;
}
.fa{
    color: #35638c;
    font-size: 16px;
}
#dispImages{
    padding: 0px;
}
.location{
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
